<img src="Problema_01.png" width=900 heigth=500>

In [2]:
import pandas as pd

In [4]:
vendas_produtos = {
    "Produto A": {"Janeiro": 120, "Fevereiro": 150, "Março": 130},
    "Produto B": {"Janeiro": 80, "Fevereiro": 95, "Março": 100},
    "Produto C": {"Janeiro": 200, "Fevereiro": 180, "Março": 190},
    "Produto D": {"Janeiro": 50, "Fevereiro": 70, "Março": 65},
    "Produto E": {"Janeiro": 140, "Fevereiro": 160, "Março": 150}
}

vendas_df = pd.DataFrame(vendas_produtos)
display(vendas_df)

           Produto A  Produto B  Produto C  Produto D  Produto E
Janeiro          120         80        200         50        140
Fevereiro        150         95        180         70        160
Março            130        100        190         65        150

### 1. Qual produto teve a maior variação de vendas entre janeiro e março??

In [15]:
vendas_T = vendas_df.T
display(vendas_T)

           Janeiro  Fevereiro  Março
Produto A      120        150    130
Produto B       80         95    100
Produto C      200        180    190
Produto D       50         70     65
Produto E      140        160    150

In [24]:
vendas_T['Variação Janeiro-Março'] = vendas_T['Março'] - vendas_T['Janeiro']
display(vendas_T)
max = vendas_T['Variação Janeiro-Março'].max()
produto_max = vendas_T['Variação Janeiro-Março'].idxmax()
print(f'A variação máxima entre os meses de Janeiro e Março é: {max}')
print(f'O produto com variação máxima entre os meses de Janeiro e Março é: {produto_max}')

           Janeiro  Fevereiro  Março  Variação Janeiro-Março
Produto A      120        150    130                      10
Produto B       80         95    100                      20
Produto C      200        180    190                     -10
Produto D       50         70     65                      15
Produto E      140        160    150                      10

A variação máxima entre os meses de Janeiro e Março é: 20
O produto com variação máxima entre os meses de Janeiro e Março é: Produto B

### 2. Qual o produto mais vendido no trimestre??

In [85]:
# primeiro passo é pegar o total de vendas de cada produto no trimestre 

vendas_T['Total Vendas'] = 0
vendas_T['Variação Janeiro-Março'] = 0
vendas_T['Total Vendas'] = vendas_T.sum(axis=1)
display(vendas_T)
produto_max = vendas_T['Total Vendas'].idxmax()
valor_max = vendas_T['Total Vendas'].max()

print(f'O produto mais vendido no trimestre foi o {produto_max} com um total de {valor_max} vendidos no semestre')

           Janeiro  Fevereiro  Março  Variação Janeiro-Março  Total Vendas
Produto A      120        150    130                       0           400
Produto B       80         95    100                       0           275
Produto C      200        180    190                       0           570
Produto D       50         70     65                       0           185
Produto E      140        160    150                       0           450

O produto mais vendido no trimestre foi o Produto C com um total de 570 vendidos no semestre

### 3. Qual foi o total de vendas em Fevereiro??

In [91]:
display(vendas_T)

sum_fevereiro = vendas_T['Fevereiro'].sum()

print(f'O total de vendas em Fevereiro foi de {sum_fevereiro}.')

           Janeiro  Fevereiro  Março  Variação Janeiro-Março  Total Vendas
Produto A      120        150    130                       0           400
Produto B       80         95    100                       0           275
Produto C      200        180    190                       0           570
Produto D       50         70     65                       0           185
Produto E      140        160    150                       0           450

O total de vendas em Fevereiro foi de 655.